[View in Colaboratory](https://colab.research.google.com/github/NehaAgarwal2598/Assignment-3/blob/master/Pandas.ipynb)

# Pandas

Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.In this tutorial, we will learn the various features of Python Pandas and how to use them in practice.


## Import pandas and numpy

In [0]:
import pandas as pd
import numpy as np

In [0]:
a_ascii = ord('A')
z_ascii = ord('Z')
alphabets = [chr(i) for i in range(a_ascii, z_ascii+1)]

print(alphabets)

numbers = np.arange(26)

print(numbers)

print(type(alphabets), type(numbers))

alpha_numbers = dict(zip(alphabets, numbers))

print(alpha_numbers)

print(type(alpha_numbers))

In [0]:
series1 = pd.Series(alphabets)
print(series1)

In [0]:
series2 = pd.Series(numbers)
print(series2)

In [0]:
series3 = pd.Series(alpha_numbers)
print(series3)

In [0]:
#replace head() with head(n) where n can be any number between [0-25] and observe the output in deach case 
series3.head()

In [0]:
data = {'alphabets': alphabets, 'values': numbers}

df = pd.DataFrame(data)

#Lets Change the column `values` to `alpha_numbers`

#df.columns = ['alphabets', 'alpha_numbers']

df

In [0]:
# transpose

df.T

# there are many more operations which we can perform look at the documentation with the subsequent exercises we will learn more

In [0]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

vowels = ser.take(pos)

df = pd.DataFrame(vowels)#, columns=['vowels'])

df.columns = ['vowels']

#df.index = [0, 1, 2, 3, 4]

df

In [0]:
ser = pd.Series(['we', 'are', 'learning', 'pandas'])

ser.map(lambda x : x.title())

titles = [i.title() for i in ser]

titles

In [0]:
my_index = [1, 2, 3, 4, 5]

df1 = pd.DataFrame({'upper values': ['A', 'B', 'C', 'D', 'E'],
                   'lower values': ['a', 'b', 'c', 'd', 'e']},
                  index = my_index)

df1

In [0]:
new_index = [2, 5, 4, 3, 1]

df1.reindex(index = new_index)

# Get to know your Data


#### Import necessary modules

In [0]:
import pandas as pd
import numpy as np

#### Loading CSV Data to a DataFrame

In [0]:
iris_df = pd.read_csv('https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv')

#### See the top 10 rows

In [0]:
iris_df.head()

#### Find number of rows and columns

In [0]:
print(iris_df.shape)

#first is row and second is column
#select row by simple indexing

#print(iris_df.shape[0])
#print(iris_df.shape[1])

#### Print all columns

In [0]:
print(iris_df.columns)

#### Check Index

In [0]:
print(iris_df.index)

#### Right now the iris_data set has all the species grouped together let's shuffle it

In [0]:
#generate a random permutaion on index

print(iris_df.head())

new_index = np.random.permutation(iris_df.index)
iris_df = iris_df.reindex(index = new_index)

print(iris_df.head())

#### We can also apply an operation on whole column of iris_df

In [0]:
#original

print(iris_df.head())

iris_df['sepal_width'] *= 10

#changed

print(iris_df.head())

#lets undo the operation

iris_df['sepal_width'] /= 10

print(iris_df.head())

#### Show all the rows where sepal_width > 3.3

In [0]:
iris_df[iris_df['sepal_width']>3.3]

#### Club two filters together - Find all samples where sepal_width > 3.3 and species is versicolor

In [0]:
iris_df[(iris_df['sepal_width']>3.3) & (iris_df['species'] == 'versicolor')]

#### Sorting a column by value

In [0]:
iris_df.sort_values(by='sepal_width')#, ascending = False)
#pass ascending = False for descending order

#### List all the unique species

In [0]:
species = iris_df['species'].unique()

print(species)

#### Selecting a particular species using boolean mask (learnt in previous exercise)

In [0]:
setosa = iris_df[iris_df['species'] == species[0]]

setosa.head()

In [0]:
# do the same for other 2 species 
versicolor = iris_df[iris_df['species'] == species[1]]

versicolor.head()

In [0]:


virginica = iris_df[iris_df['species'] == species[2]]

virginica.head()

#### Describe each created species to see the difference

In [0]:
setosa.describe()

In [0]:
versicolor.describe()

In [0]:
virginica.describe()

#### Let's plot and see the difference

##### import matplotlib.pyplot

In [0]:
import matplotlib.pyplot as plt

#hist creates a histogram there are many more plots(see the documentation) you can play with it.

plt.hist(setosa['sepal_length'])
plt.hist(versicolor['sepal_length'])
plt.hist(virginica['sepal_length'])

# Pandas Exercise :


#### import necessary modules

In [0]:
import numpy as np
import pandas as pd

#### Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df

This is a wine dataset

In [0]:
wine_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

#### print first five rows

In [0]:
print(wine_df.head())

#### assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy

[Hint](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [0]:
wine_df_copy = wine_df.iloc[::2]

#### Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) Alcohol  
2) Malic acid  
3) Ash  
4) Alcalinity of ash  
5) Magnesium  
6) Total phenols  
7) Flavanoids  
8) Nonflavanoid phenols  
9) Proanthocyanins  
10)Color intensity  
11)Hue  
12)OD280/OD315 of diluted wines  
13)Proline

In [0]:
wine_df.columns = [' ', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

#### Set the values of the first 3 rows from alcohol as NaN

Hint- Use iloc to select 3 rows of wine_df

In [0]:
wine_df.iloc[:3].np.nan

#### Create an array of 10 random numbers uptill 10 and assign it to a  variable named `random`

In [0]:
import random
arr = random.sample(range(0, 10), 10)

#### Use random numbers you generated as an index and assign NaN value to each of cell of the column alcohol

####  How many missing values do we have? 

Hint: you can use isnull() and sum()

#### Delete the rows that contain missing values

### BONUS: Play with the data set below